<div id="back">
<div id="placeholder"></div>
<div id="image"><img src=<%=asset_path "GAMETRACKERSOUTDOORADVENTURES.png"%> usemap="#map"/>
	<map name="map">
    	<area shape="rect" coords="20,204,207,264" href="http://gametrackers.heroku.com/" />
	    <area shape="rect" coords="212,204,432,264" href="http://outdoor.heroku.com/"/>
	    <area shape="rect" coords="437,204,614,264" href="http://elephantback.heroku.com/"/>
	    <area shape="rect" coords="621,204,777,264" href="http://airtrackers.heroku.com/"/>
  	</map></div>
</div>